.DS_Store
.nova/
public/
resources/
.hugo_build.lock
/public
/public/categories
/public/categories/index.html
/public/index.html
/public/index.xml
/public/posts
/public/posts/index.html
/public/posts/post-1
/public/posts/post-1/index.html
/public/posts/post-2
/public/posts/post-2/index.html
/public/posts/post-3
/public/posts/post-3/index.html
/public/sitemap.xml
/public/tags
/public/tags/blue
/public/tags/blue/index.html
/public/tags/green
/public/tags/green/index.html
/public/tags/index.html
/public/tags/index.xml
/public/tags/red
/public/tags/red/index.html
