<!-- range -->
{{ $pageindex := where site.RegularPages "Type" "projects" }}
{{ $pages := first 6 $pageindex }}
<div class="row">
{{- range $i, $page := $pages }}
    {{- if eq (mod $i 2) 0 -}}
        <div class="col-4 col-12-mobile">
    {{- end -}}
    <article class="item">
        <a href="{{ $page.RelPermalink }}" class="image fit">
            <img src="{{ $page.Params.src }}" alt="" />
        </a>
        <header>
            <h2><a href="{{ $page.RelPermalink }}">{{ $page.LinkTitle }}</a></h2>
            <!-- <p>{{ $page.Summary }}</p> -->
        </header>
    </article>
    {{- if eq (mod $i 2) 1 -}}
        </div>
    {{- end -}}
{{- end }}
<!-- range -->