<!-- contact -->
{{ $homepagePages := where site.RegularPages "Type" "home" }}
{{ $filteredPages := where $homepagePages "Params.section_type" "contact" }}
{{ range $filteredPages }}
<section id="contact" class="four">
      <div class="container">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
        <a href="#" class="image featured"><img src="{{ .Params.scr }}" alt="" /></a>
        <p> {{ .Content }}</p>
        {{- partial "components/contact-form.html" . }}
      </div>
  </section>  
  {{ end }}