<!-- Portfolio -->
{{ $pageindex := where site.RegularPages "Type" "projects" }}
{{ $pages := first 6 $pageindex }}

<section id="portfolio" class="two">
    <h5> Portfolio template </h5>
    <div class="container">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <p> {{ .Content }}</p>
      <div class="row">
                {{- range $i, $page := $pages }}
            {{- if eq (mod $i 2) 0 -}}
                <div class="col-4 col-12-mobile">
            {{- end -}}
            <article class="item">
                <a href="{{ $page.RelPermalink }}" class="image fit">
                    <img src="{{ $page.Params.src }}" alt="" />
                </a>
                <header>
                    <h2><a href="{{ $page.RelPermalink }}">{{ $page.LinkTitle }}</a></h2>
                    <!-- <p>{{ $page.Summary }}</p> -->
                </header>
            </article>
            {{- if eq (mod $i 2) 1 -}}
        </div>
            {{- end -}}
        {{- end }}

     
    </div>
  </section>

