{{ define "main" }}
<!-- Single Template  -->
<section>
  <div class="container">
    <header>
      <h2><a href="/">{{ .LinkTitle }}</a></h2>
    </header>
    <a href="#" class="image featured"><img src="{{ .Params.src }}" alt="" /></a>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    <p>{{ .Content }}</p>
  </div>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</section>
{{ end }}
