
<div class="top">
<!-- Logo -->

<div id="logo">
	<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
	<h1 id="title">{{ site.Title }}</h1>
	<p>Hyperspace Engineer</p>
</div>
<nav id="nav">
    {{ partial "body/menu.html" (dict "menuID" "main" "page" .) }}
</nav>
</div>


<div class="bottom">
    <!-- Social Icons -->
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>



</div>